@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");

#root {
  background-color: #292929;
  color: rgb(62, 199, 97);
  font-family: "Bebas Neue", cursive;
}

.App {
  text-align: center;
}
.App-logo {
  height: 10vh;
  width: 10vh;

  pointer-events: none;
}
.App-header {
  background-color: #292929;

  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}
.App-header h3 {
  
  color: rgb(62, 199, 97);
}
.list-group-item {
  background-color: #555555;
  color: rgb(62, 199, 97);
}
.summery {
  text-align: center;
}
.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}
.form-control {
  background-color: #555555;
  color: rgb(62, 199, 97);
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px;
  color: rgb(62, 199, 97);
}

img {
  width: 40vh;
  height: 40vh;
  margin-top: 2px;
  border-radius: 10px;
}
.image-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(65, 65, 65);
  border-radius: 10px;
}
.img-info > div {
  border-radius: 10px;
  height: 20vh;
  text-align: center;
  font-size: larger;
  padding-top: 3vh;
}
.btn-success {
  background-color: #3b7d4a;
}

.btn-success:hover {
  background-color: #4daf64;
}

img.track {
  border: 1px solid #1f1e1e;
}
.list-group {
  max-height: 200px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 3px rgb(62, 199, 97);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(62, 199, 97);
  border-radius: 100vw;
}
iframe{
  margin-top: 2vh;
  border-radius: 10px;
}
.playlist-header{
  margin-top: 10vh;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .img-info > div {
    margin-left: 14vw;
  }
}

@media only screen and (max-width: 600px) {
  .image-div {
    flex-direction: column;
  }
  .img-info > div {
    margin: 0px;
    padding: 0px;
    height: 10vh;
  }
}
