#root{
  background-color: #4d4d4d;
  color:white;
}
.list-group-item{
  background-color: #555555;
  color:white;
}

.btn.dropdown-toggle  {
  width:150px;
  text-align:left;
}
.form-control{
  background-color: #555555;
  color: white;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top:5px;
}

.form-label {
  padding-left:0px !important;
  color: white;
}

img {
  width:140px;
  height:140px;
}

.btn-success {
  background-color: #3b7d4a!important;
}

.btn-success:hover {
  background-color: #4daf64!important;
}

img.track {
  border: 1px solid #555555;
}
.songs-list{
  max-height: 20px;
  overflow-y: scroll;
}